/* Fonts */

@font-face {
  font-family : "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --special-white: rgba(255, 255, 255, 0.3);
  --special-black: rgba(0, 0, 0, 0.3) ;
  --line-white: #E5E5E5;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-grey: #EEEEEE;
  --basic-toggle-grey: #ABABAB;
  --basic-blond-greu: #CACACA;
  --basic-bright-grey: #BDBBBC;
  --basic-deep-grey: #A9A9A9;
  --basic-light-grey: #F2F2F2;
  --basic-extra-grey: #231F20;
  --basic-black-grey: #6A6A6A;
  --basic-dingy-grey: #EBEBEB;
  --basic-dark-grey: #666666;
  --basic-light-brown: #766458;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-murky-blue: #81B3D3;
  --basic-dark-blue: #669EC0;
  --basic-deep-blue: #5496BD;
  --booking-shadow: #d9d9d9;
  --special-footer-white: rgba(255, 255, 255, 0.9);
}

/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;


  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}



/* Navigation */

.main-header {
  margin-bottom: 62px;
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 530px;
  top: 0;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-information-link {
  margin-left: 30px;
}

.site-foto-link {
  margin-right: 290px;
}

.site-map-link {
  margin-right: 10px;
}

.site-catalog-link {
  margin-right: 30px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-link {
  padding-right:40px;
  padding-left: 40px;
  color: var(--basic-black);
}

.site-navigation-selected-link{
  color: var(--basic-brown);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--basic-blue);
}

.site-navigation-link:active {
  color: var(--special-black);
}

/* Container */

.shadow-block {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
  box-shadow:
  -2px 0 5px -3px #34495e,
  2px 0 5px -3px #34495e;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}

.block-for-welcome {
  position: relative;
}

.welcome-text {
  position: absolute;
  left: 372px;
  top: 78px;
}

.frame {
  position: absolute;
  top: 452px
}


/* Description */

.description {
  text-align: center;
}

.description-heading {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 17px;
  padding-left: 343px;
  padding-right: 360px;
  padding-top: 15px;
}

.description-heading-text {
  padding-top: 30px;
  padding-right: 350px;
  padding-left: 350px;
  margin-bottom: 50px;
}

.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-item {
  text-align: center;
}

.description-item-heading {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.description-item-text {
  position: relative;
  top: 8px;
  left: 6px;
}

.special-description-bar-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.special-description-bar-2 {
  display: flex;
  flex-direction: row-reverse;
}

.special-description {
  height: 256px;
  width: 400px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  position: relative;
}

.special-description-text {
  padding-top: 10px;
  padding-right: 51px;
  padding-left: 51px;
}

.special-description-heading-1 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 130px;
  padding-right: 130px;
  color: var(--basic-white);
}

.special-description-heading-2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 125px;
  padding-left: 125px;
  color: var(--basic-white);
}

.special-description-text-2 {
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.special-description-foto {
  width: 800px;
  height: 256px;
  /*background-color: var(--basic-blue);*/
}

.special-list {
  position: relative;
  list-style: none;
  background-color: var(--basic-grey);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.special-item {
  padding-top: 20px;
  padding-bottom: 54px;
  position: relative;
  left: -30px;
}

.special-item-heading {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  padding-left: 110px;
  padding-right: 120px;
}

.special-item-text {
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.item-1 {
  position: relative;
  right: 58px;
  top: 8px;
}

.item-2 {
  position: relative;
  top: 7px;
}

.item-3 {
  position:relative;
  left: 5px;
  top: 5px;
}

.recommendation-list {
  position: relative;
  right: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.recommendation-item {
  padding-top: 60px;
  padding-bottom: 72px;
  padding-right: 40px;
  padding-left: 10px;
  text-align: center;
}

/* Booking */

.booking {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.booking-question {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-left: 450px;
  padding-right: 510px;
  padding-top: 10px;
  position: relative;
  top: 10px;
}

.booking-text {
  margin-left: 400px;
  margin-right: 400px;
  position: relative;
  top: 13px;
}

.booking-link {
  display:block;
  background-color: var(--basic-brown);
  margin-top: 45px;
  margin-right: 315px;
  margin-left: 315px;
  padding: 30px 100px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  position: relative;
  top: 10px;
}

.booking-link:hover,
.booking-link:focus {
  background-color: var(--basic-dark-brown);
}

.booking-link:active {
  background-color: var(--basic-extra-brown);
  color: var(--special-white);
}

.booking-block-form {
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px var(--booking-shadow);
  position: relative;
  left: 315px;
}

.block-for-map {
  width: 1200px;
  height: 473px;
  position: relative;
}

.map {
  width: 1199px;
  height: 594px;
  position: absolute;
  right: 1px;
  z-index: 0;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 42px;

}

.check-in-date-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.check-in-date-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 180px;
  margin-left: 20px;
  border: none;
  background-color: var(--basic-light-grey);

}

.check-out-date-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}

.check-out-date-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 180px;
  margin-left: 20px;
  border: none;
  background-color: var(--basic-light-grey);
}

.adults-number-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 20px;
}

.adults-number-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 6px 39px;
  border: none;
  background-color: var(--basic-light-grey);
  text-align: center;
}

.child-number-legend {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;

}

.child-number-value {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 6px 39px;
  border: none;
  background-color: var(--basic-light-grey);
  text-align: center;
  margin-right: 15px;
  margin-left: 20px;
}

.booking-form-button {
  font-size: 21px;
  line-height: 26px;
  font-weight:bold;
  width: 458px;
  height: 58px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-blue);
  border: none;
  margin-top: 42px;
}

.booking-form-button:hover,
.booking-form-button:focus {
  background-color: var(--basic-dark-blue);
}

.booking-form-button:active {
  background-color: var(--basic-deep-blue);
  color: var(--special-white);
}

/* Catalog-Page */

.filters {
  background-image: url(../img/background-catalog.png);
  background-color: var(--basic-deep-blue);
  padding-bottom: 10px;
}

.filter-bar {
  display: grid;

  grid-template-columns: 1fr 1fr 2fr;
}

.filter-list {
  list-style: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  padding-top: 20px;

}

.filter-option label {
  position: relative;
  right: 30px;
  bottom: 18px;
}

.checkbox1 {
  position: relative;
  right: 40px;
  bottom: 10px;
}

.checkbox2 {
  position: relative;
  right: 40px;
  bottom: 10px;
}

.filters fieldset {
  border: none;
}

.filter-1 {
  position: relative;
  left: 60px;
  top: 20px;
}

.filter-2 {
  flex-grow: 1;
  position: relative;
  left: 15px;
  top: 20px;
}

.filter-item {
  margin: 0;
  padding: 0;
  position: relative;
  left: 210px;
  top: 27px;
}

.range-filter {
  width: 317px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  bottom: 22px;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--special-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toggle-grey);
  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  width: 5px;
  height: 5px;
}

.range-controls .toggle-min {
  left: 3px;
}

.range-controls .toggle-max {
  left: 252px;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  border: 2px solid white;
  background-image: url(../img/line.png);
  background-position: center;
  background-repeat: no-repeat;
}

.price-controls label {
  color: var(--basic-white);
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.price-controls input {
  width: 60px;
  padding: 9px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  background: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.min-price-value {
  position: relative;
  right: 36px;
}

.max-price-value {
  position: relative;
  right: 25px;
  bottom: 1px;
}

.min-price {
  position: relative;
  left: 41px;
  bottom: 2px;
}

.max-price {
  position: relative;
  left: 32px;
}

.filter-range-area {
  /*justify-self: end;*/
}

.filter-range-area-name {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.filter-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 137px;
  height: 36px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background: none;
  border: 2px solid var(--basic-white);
  position: relative;
  bottom: 27px;
  left: 85px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sorting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr min-content min-content;
  border-bottom: 2px solid var(--line-white);
}

.sorting-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  position: relative;
  left: 75px;
  top: 5px;
  margin-bottom: 35px;
}

.sorting-choice {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  position: relative;
  right: 150px;
  top: 17px;
}

.sorting-list {
  display: flex;
  list-style: none;
}


.sorting-link {
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-blue);
  color: var(--special-black);
  right: 460px;
  top: 15px;
  position: relative;
  margin-right: 32px;
}

.sorting button {
  position: relative;
  right: 65px;
  top: 5px;
}

.sorting-button-up:hover path,
.sorting-button-up:focus path {
  fill: var(--basic-black);
}

.sorting-button-down:hover path,
.sorting-button-down:focus path {
  fill: var(--basic-black);
}

.sorting-button-up:active path {
  fill: var(--basic-blue);
}

.sorting-button-down:active path {
  fill: var(--basic-blue);
}

.sorting-button-up {
  border: none;
  background: none;
}

.sorting-button-down {
  border: none;
  background: none;
}

.sorting-link-current {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
}

.sorting-link:hover,
.sorting-link:focus {
  color: var(--basic-blue);
}

.sorting-link:active {
  color: var(--basic-black);
  text-decoration: none;
}

.hotel-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: grid;
  grid-template-columns:1fr 1fr 2fr;
  height: 150px;
  border-bottom: 2px solid var(--line-white);
}

.hotel-information {
  flex-grow: 1;
  position: relative;
  right: 63px;
}

.hotel-link {
  color: var(--basic-black);
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  position: relative;
  top: 3px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--basic-blue);
}

.hotel-name:active {
  color: var(--special-black);
}

.photo-of-housing {
  width: 135px;
  height: 90px;
  position: relative;
  left: 73px;
  top: 30px;
}

.housing-description {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-dark);
  position: relative;
  bottom: 10px;

}

.housing-price {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-dark);
  position: relative;
  bottom: 10px;
  left: 18px;
}

.price-1{
  position: relative;
  left: 38px;
}

.price-2 {
  position: relative;
  left: 60px;
}

.list-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-blue);
  border: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
  padding-right: 16px;
  position: relative;
  bottom: 7px;
}

.list-button:hover,
.list-button:focus {
  background-color: var(--basic-dark-blue);
}

.list-button:active {
  background-color: var(--basic-deep-blue);
  color: var(--special-white);
}

.booking-button {
  background-color: var(--basic-brown);
  padding-left: 16px;
  padding-right: 17px;
}

.booking-button:hover,
.booking-button:focus {
  background-color: var(--basic-dark-brown);
}

.booking-button:active {
  background-color: var(--basic-extra-brown);
  color: var(--special-white);
}

.stars-1 {
  position: absolute;
  bottom: 175px;
  left: 24px;
}

.stars-2 {
  position: absolute;
  bottom: 177px;
  left: 46px;
}

.stars-3 {
  position: absolute;
  bottom: 177px;
  left: 68px;

}

.rating {
  justify-self: end;
  position:relative;
  top: 80px;
  right: 70px;

}

.rating-name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-light-grey);
  color: var(--basic-dark-grey);
  padding: 3px 15px;
}

/* Footer */

.main-footer {
  position: relative;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--special-footer-white);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.footer-contacts {
  position: relative;
  left: 130px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  width: 440px;
  justify-self: center;
}

.footer-contacts-text {
  padding-left: 40px;
}

.footer-contacts-phone {
  text-decoration: none;
  color: var(--basic-black);
}

.footer-contacts-phone-block {
  position: relative;
  bottom: 10px;
  right: 5px;
}

.footer-social {
  text-align: center;
  width: 400px;
  justify-self: center;
  position: relative;
  right: 40px;
  top: 25px;
  margin-top: 10px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  max-width: 400px;
  margin: 0;
  justify-self: end;
  position: relative;
  right: 143px;
  top: 25px;
}

.copyright-link {
  position: relative;
  top: 12px;
  left: 5px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-dark-blue);
}

.social-button:active {
  background-color: var(--basic-deep-blue);
}

.social-button:active path {
  opacity: 0.3;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: var(--basic-blue);
}

.copyright-link:active path {
  fill: var(--basic-bright-grey);
}

